{% extends 'T-base.html' %} {% block content %}{% load static%}
<div class="fullwidth-template">
  <div class="banner-wrapper has_background">
    
    <div class="banner-wrapper-inner">
      <h1 class="page-title">Shop</h1>
      <div
        role="navigation"
        aria-label="Breadcrumbs"
        class="breadcrumb-trail breadcrumbs"
      >
        <ul class="trail-items breadcrumb">
          <li class="trail-item trail-begin">
            <a href="/"><span>Home</span></a>
          </li>
          <li class="trail-item trail-end active"><span>Designs</span></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="main-container shop-page left-sidebar">
    <div class="container">
      <div class="row">
        <div
          class="main-content col-xl-9 col-lg-8 col-md-8 col-sm-12 has-sidebar"
        >
          
          <div class="auto-clear equal-container better-height furgan-products infinite-container infinite-item">
            <ul class="row products columns-3">
             
              {% for product in filter %}
              
              <li
                class="product-item wow fadeInUp product-item rows-space-30 col-bg-4 col-xl-4 col-lg-6 col-md-6 col-sm-6 col-ts-6 style-01 post-24 product type-product status-publish has-post-thumbnail product_cat-chair product_cat-table product_cat-new-arrivals product_tag-light product_tag-hat product_tag-sock first instock featured shipping-taxable purchasable product-type-variable has-default-attributes"
                data-wow-duration="1s"
                data-wow-delay="0ms"
                data-wow="fadeInUp"
              >
                <div class="product-inner tooltip-left">
                  <div class="product-thumb st_designthumb st_df shadow">
                    <a
                      class="thumb-link"
                      href="/singal-products/{{product.id}}"
                    >
                      <img
                        style="width: 100%; object-fit: contain"
                        class="img-responsive"
                        src="{{product.image.url}}"
                        alt="design"
                        width="250"
                        height="250"
                      />
                    </a>
                    {% if product.New %}
                    <div class="flash">
                      <span class="onnew"><span class="text">New</span></span>
                    </div>
                    {% endif %}
                    {% comment %} <div class="group-button">
                      
                      <div class="yith-wcwl-add-to-wishlist">
                        <div class="yith-wcwl-add-button show">
                          <a href="#" class="add_to_wishlist"
                            >Add to Wishlist</a
                          >
                        </div>
                      </div> {% endcomment %}
                    </div>
                  </div>
                  <div class="product-info equal-elem">
                    <h3 class="product-name product_title">
                      <a href="/singal-products/{{product.id}}">{{product.name}}</a>
                    </h3>
                    {% comment %} <div class="rating-wapper nostar">
                      <div class="star-rating">
                        <span style="width: 0%"
                          >Rated <strong class="rating">0</strong> out of
                          5</span
                        >
                      </div>
                      <span class="review">(0)</span>
                    </div> {% endcomment %}
                    <span class="price">{{product.design_code}}</span>
                  </div>
                </div>
              </li> 
              {% endfor%}
            </ul>
          </div>
          {% comment %} load other products {% endcomment %}
          <div class="loading" style="display: none;">
            Loading...
          </div>
          {% if filter.has_next %}
              <a class="infinite-more-link" href="?page={{ filter.next_page_number }}">More</a>
          {% endif %}
          {% comment %} <div class="d-flex justify-content-center" style="display:none;">
              <div class="spinner-border" role="status">
                  <span class="sr-only">Loading...</span>
              </div>
          </div> {% endcomment %}
          


          

          
          {% comment %} pagination {% endcomment %}
          {% comment %} <div class="shop-control shop-after-control">
            <nav class="furgan-pagination">
              {% if products.has_previous %}
              <a
                class=" page-number"
                href="?page={{products.previous_page_number}}"
                aria-label="Previous"
              >
                <span class="page-numbers" aria-hidden="true"
                  >&#8592;</span
                >
              </a>
              <a
                class="page-number"
                href="?page={{products.previous_page_number}}"
                ><span class="page-numbers"
                  >{{products.previous_page_number}}</span
                ></a
              >
              {% endif %}
              <a  href="#"
                ><span class="page-numbers current"
                  >{{products.number}}</span
                ></a
              >
              {% if products.has_next %}
              <a  class="page-number" href="?page={{products.next_page_number}}"
                ><span class="page-numbers"
                  >{{products.next_page_number}}</span
                ></a
              >
              <a
                class="page-number"
                href="?page={{products.next_page_number}}"
                aria-label="Next"
              >
                <span class="page-numbers" aria-hidden="true"
                  >&#8594;</span
                >
              </a>
              {% endif %}
              
          </div> {% endcomment %}
        </div>
        <div class="sidebar col-xl-3 col-lg-4 col-md-4 col-sm-12">
          <div id="widget-area" class="widget-area shop-sidebar">
            <div
              id="furgan_product_search-2"
              class="widget furgan widget_product_search"
            >
              <form 
                  class="furgan-product-search" 
                  role="search"
                  action="/search"
                  name="myform"
                  method="get">
                <input
                  
                  class="search-field"
                  placeholder="Search products…"
                  required
                  autocomplete="off"
                  type="text"
                  id="autocomplete"
                  name="q"
                />
                <button type="submit" value="Search">Search</button>
              </form>
            </div>
            {% comment %} <div
              id="furgan_price_filter-2"
              class="widget furgan widget_price_filter"
            >
              <h2 class="widgettitle">
                Filter By Price<span class="arrow"></span>
              </h2>
              <form method="get" action="#">
                <div class="price_slider_wrapper">
                  <div
                    data-label-reasult="Range:"
                    data-min="0"
                    data-max="1000"
                    data-unit="$"
                    class="price_slider"
                    data-value-min="100"
                    data-value-max="800"
                  ></div>
                  <div class="price_slider_amount">
                    <button type="submit" class="button">Filter</button>
                    <div class="price_label">
                      Price: <span class="from">$100</span> —
                      <span class="to">$800</span>
                    </div>
                  </div>
                </div>
              </form>
            </div> {% endcomment %}
            {% comment %} <script>
              $('#defaultIndeterminate2').prop('indeterminate', true);
              </script> {% endcomment %}
            
            
              
            <div
              id="furgan_layered_nav-6"
              class="widget furgan widget_layered_nav furgan-widget-layered-nav"
            >
              <h2 class="widgettitle">
                Filter By Area<span class="arrow"></span>
              </h2>
              <ul class="furgan-widget-layered-nav-list">
                <li
                  class="furgan-widget-layered-nav-list__item furgan-layered-nav-term"
                >
                 <form method="get">
                  {% comment %} {{ filter.form.as_p }} {% endcomment %}
                  {{ filtered_qs_form.as_p}}
                  <input type="submit" />
                </form>
                </li>
                
              </ul>
            </div>
            
            <div id="media_image-2" class="widget widget_media_image">
              <a href="#"
                ><img
                  src="{% static 'assets/images/widget-banner.jpg' %}"
                  width="270"
                  height="320"
              /></a>
            </div>
          </div>
          <!-- .widget-area -->
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
